@using Ascon.Pilot.WebClient.Models;
@using Ascon.Pilot.Core;

@model Ascon.Pilot.WebClient.ViewModels.TaskDetailsViewModel

@if (Model == null)
{
    <p>Нет данных для отображения</p>
}
else
{
    <div class="task-details-content">
        <span style="font-weight:600; color: #2A3344;">@Model.Initiator</span>
        <br />
        <span>@Model.Executor</span>
        <br />
        <br />
        <p style="font-weight:100; font-size:large; color: #2A3344;">@Model.Title</p>
        <p class="default-margin_top">@Model.Description</p>
        <div class="default-margin_top">
            @foreach (var attachment in Model.Attachments)
            {
                var href = Url.Action("GetTypeIcon", "Home", new { id = attachment.Type.Id });
                <div class="task-attachment">
                    @if (attachment.Type.IsProjectFile())
                    {
                        <img src="@href" class="task-attachment-image"/>
                        <p class="truncate" style="color: #2A3344; margin-bottom: 0px;">@attachment.Title</p>
                        <span>Файл @attachment.FileExtension</span>
                    }
                    else if (attachment.Type.IsProjectFolder() || attachment.Type.Children.Count > 0)
                    {
                        <img src="@href" class="task-attachment-image"/>
                        <p class="truncate" style="color: #2A3344; margin-bottom: 0px;">@attachment.Title</p>
                        <span>@attachment.Type.Title</span>
                    }
                    else
                    {
                        <img src="@href" class="task-attachment-image"/>
                        <p class="truncate" style="color: #2A3344; margin-bottom: 0px;">@attachment.Title</p>
                        <span>Документ</span>
                    }

                    
                </div>
            }
        </div>
    </div>
}