@using Ascon.Pilot.WebClient.Models;

@model IEnumerable<Ascon.Pilot.WebClient.ViewModels.TaskNode>

@if (Model == null || !Model.Any())
{
    <p class="no-data-info">Нет данных для отображения</p>
}
else
{
    foreach (var node in Model)
    {
        <div class="task-node" onclick="processTaskClick(this)" id="@node.Id">
            <div class="row">
                @if (node.Kind == TaskKind.Agreement)
                {
                    <div class="col-fix-16"><img src="~/images/tasks/agree_task_kind.png"/></div>
                }
                else
                {
                    <div class="col-fix-16"></div>
                }
                @switch (node.State)
                {
                    case TaskState.None:
                        <div class="col-fix-16"></div>
                        break;
                    case TaskState.Assigned:
                        <div class="col-fix-16"><img data-item-id="@node.Id" src="~/images/tasks/assigned.png" /></div>
                        break;
                    case TaskState.InProgress:
                        <div class="col-fix-16"><img data-id="@node.Id" src="~/images/tasks/in_progress.png" /></div>
                        break;
                    case TaskState.Revoked:
                        <div class="col-fix-16"><img data-id="@node.Id" src="~/images/tasks/revoked.png" /></div>
                        break;
                    case TaskState.OnValidation:
                        <div class="col-fix-16"><img data-id="@node.Id" src="~/images/tasks/validation.png" /></div>
                        break;
                    case TaskState.Completed:
                        <div class="col-fix-16"><img data-id="@node.Id" src="~/images/tasks/completed.png" /></div>
                        break;
                    default:
                        <div class="col-fix-16"></div>
                        break;
                }
                <div class="col-md-6 col-sm-8 col-lg-8 text-title truncate">@node.Title</div>
                <div class="col-fix-145 col-float-right hidden-xs" style="font-size:small">Выдано @node.DateOfAssignment.ToString("g")</div>
            </div>
            <div class="row">
                <div class="col-fix-16"></div>
                <div class="col-fix-16"></div> 
                <div class="col-md-6 col-sm-8 truncate" style="font-size:small">@node.Initiator → @node.Executor</div>
                @if (node.DeadlineDate == DateTime.MaxValue)
                {
                    <div class="col-fix-145 col-float-right hidden-xs"></div>
                }
                else 
                {
                    <div class="col-fix-145 col-float-right hidden-xs" style="font-size:small">Срок @node.DeadlineDate.ToString("g")</div>
                }
            </div>
            <div class="row">
                @if (node.DateOfStart == null)
                {
                    <div class="col-fix-145 col-float-right hidden-xs"></div>

                }
                else
                {
                    <div class="col-fix-145 col-float-right hidden-xs" style="font-size:small">Начало @node.DateOfStart?.ToString("g")</div>
                }
            </div>
        </div>
    }
}